:root {
--very-dark-magenta: hsl(300, 43%, 22%);
--soft-pink: hsl(333, 80%, 67%);
--dark-grayish-magenta: hsl(303, 10%, 53%);
--light-grayish-magenta: hsl(300, 24%, 96%);
--white: hsl(0, 0%, 100%);

--league-spartan: 'League Spartan';
}

body {
    font-family: var(--league-spartan);
    margin: 6rem 1.5rem 6rem 1.5rem ;
}

.text {
    text-align: center;
    color: var(--very-dark-magenta);
}

.text h1 {
    margin: 0 1rem 1.5rem 1rem;
    font-size: 2.75rem;
    font-weight: 700;
}

.text p {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.rate {
    text-align: center;
    color: var(--very-dark-magenta);
    margin: 1.5rem 0 1.5rem 0;
}

.rate-box {
    margin: .75rem 0 .75rem 0;
    padding: .5rem;
    font-size: .75rem;
    font-weight: 700;
    background-color: var(--light-grayish-magenta);
    border-radius: 5px;
}

.star {
    color: orange;
    margin-bottom: .5rem;
    font-size: 1.25rem;
}

rate-box::before{
    content: "\2605\2605\2605\2605\2605";
}

.feedback {
    display: flex;
    flex-wrap: wrap;
    color: var(--white);
    background-color: var(--very-dark-magenta);
    margin: .75rem 0 .75rem 0;
    padding: 1.5rem;
    border-radius: 5px;
    font-weight: 300;
    font-size: .7rem;
}

.pic {
    margin: 0 1rem 1.5rem 0;
    width: 30px;
    border-radius: 15px;
}

.feedback h2 {
    line-height: 1rem;
    font-weight: 700;
    font-size: .75rem;
}

.feedback a {
    color: var(--soft-pink);
    font-weight: 400;
}
